.face {
  border-radius: 30px;
  border: 1px solid #ddd;
  width: 42px;
  height: 42px;
  margin: 5px; }

md-input-group.long{
	width: 100%;
	color: #000000; 
}

md-input-group.long > input {
	color: #000000; 
    width: 100%; }