<!DOCTYPE html>
<html ng-app="ChatApp">
<head>
	<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css">
    <link rel="stylesheet" href="css/app.css">
	
	<title>SOA Chat - Firebase, Google auth and Google Drive</title>
	<!-- AngularJs and Material -->
	<script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/hammerjs/hammer.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
	<!-- Firebase -->
	<script src="https://cdn.firebase.com/js/client/1.0.21/firebase.js"></script>
	<!-- AngularFire -->
	<script src="https://cdn.firebase.com/libs/angularfire/0.8.2/angularfire.min.js"></script>
	<script src="https://cdn.firebase.com/js/simple-login/1.6.3/firebase-simple-login.js"></script>
  <!--Google Drive picker-->
  <script src="http://apis.google.com/js/client.js"></script>
  <script src="http://apis.google.com/js/api.js"></script>
  <script src="js/google-picker.min.js"></script>
	<!--App Script-->
	<script src="app/app.js"></script>
</head>
<body layout="vertical" layout-fill  ng-controller="ChatCtrl">
	<md-toolbar class="md-theme-dark md-toolbar-tools">
	<div flex="20">
      <h2>
        <span>SOA Chat</span>
      </h2>
      </div>
      <div flex layout="horizontal" layout-align="end">
      	<div ng-show="auth.user">
      	<p>
	      <img ng-src="{{auth.user.thirdPartyUserData.picture}}" class="face" alt="{{auth.user.displayName}}">Olá, {{auth.user.thirdPartyUserData.given_name}}
	      <md-button class="md-theme-yellow" ng-click="auth.$logout()">Sair</md-button></p>
  		</div>
	    <div ng-hide="auth.user">
	      <p>Bem vindo, por favor entre.
	      <md-button class="md-theme-green" ng-click="auth.$login('google',{preferRedirect:true})">Entrar</md-button></p>
		</div>
      </div>
    </md-toolbar>
<md-content>	
<div>
    <md-list>
      <md-item ng-repeat="message in messages">
      <md-item-content>
      <div class="md-tile-left">
              <img ng-src="{{auth.user.thirdPartyUserData.picture}}" class="face" alt="{{auth.user.displayName}}">
          </div>
          <div class="md-tile-content">
            <h3>{{auth.user.displayName}} <md-button ng-click="messages.$remove(message)">X</md-button></h3>
            <p>
              {{message.text}}
            </p>
          </div>
        <!-- exit a message >
        <input ng-model="message.text" ng-change="messages.$save(message)" />
        <delete message -->
        
      </md-item-content>
      <md-divider ng-if="!$last"></md-divider>
      </md-item>
      </md-list>
</div>
</md-content>
<!-- push a new message into the array -->
<md-toolbar class="theme-dark-tff md-medium-tall" style="margin-top: auto;">
  <form ng-submit="addMessage(newMessageText)" class="md-toolbar-tools dark">
  <a href="javascript:;" lk-google-picker picker-files="files">GDrive</a>
  {{files}}
    <md-text-float label="digite sua mensagem"  ng-model="newMessageText" class="long"></md-text-float>
    <md-button class="md-button-fab md-button-fab-bottom-right md-theme-light-blue btnMargem">
          >
    </md-button>  
  </form>
</md-toolbar>
</body>
</html>