  <md-toolbar class="md-theme-dark md-toolbar-tools">
    <div flex="20" layout-align="center">
      <md-button style="color:#ffffff" ng-click="clickUsers()">< Contatos</md-button>
    </div>
    <div flex="80" layout="horizontal" layout-align="end" ng-show="auth">
        <p>Olá, {{auth.thirdPartyUserData.given_name}} </p>
        <img ng-src="{{auth.thirdPartyUserData.picture}}" class="face" alt="{{auth.displayName}}" ng-click="clickLogout()" style="cursor:pointer">
    </div>
    </md-toolbar>
<md-content>  
<div>
    <md-list>
      <md-item ng-repeat="message in messages">
      
      <md-item-content ng-show="message.userFrom.id ==auth.id">
      <div class="md-tile-left">
              <img ng-src="{{message.userFrom.thirdPartyUserData.picture}}" class="face" alt="{{message.userFrom.displayName}}">
          </div>
          <div class="md-tile-content">
            <h3>{{message.userFrom.displayName}} <md-button ng-click="messages.$remove(message)">X</md-button></h3>
            <p>
              {{message.text}}
            </p>
          </div>
        
      </md-item-content>

      <md-item-content ng-show="message.userTo.id ==auth.id">
          <div class="md-tile-left">
              <img ng-src="{{message.userTo.thirdPartyUserData.picture}}" class="face" alt="{{message.userTo.displayName}}">
          </div>
          <div class="md-tile-content">
            <h3>{{message.userTo.displayName}} <md-button ng-click="messages.$remove(message)">X</md-button></h3>
            <p>
              {{message.text}}
            </p>
          </div>
      </md-item-content>

      <md-item-content ng-show="message.userFrom.id == paramId">
      <div class="md-tile-left">
              <img ng-src="{{message.userFrom.thirdPartyUserData.picture}}" class="face" alt="{{message.userFrom.displayName}}">
          </div>
          <div class="md-tile-content">
            <h3>{{message.userFrom.displayName}} <md-button ng-click="messages.$remove(message)">X</md-button></h3>
            <p>
              {{message.text}}
            </p>
          </div>
        
      </md-item-content>

      <md-item-content ng-show="message.userTo.id ==paramId">
          <div class="md-tile-left">
              <img ng-src="{{message.userTo.thirdPartyUserData.picture}}" class="face" alt="{{message.userTo.displayName}}">
          </div>
          <div class="md-tile-content">
            <h3>{{message.userTo.displayName}} <md-button ng-click="messages.$remove(message)">X</md-button></h3>
            <p>
              {{message.text}}
            </p>
          </div>
      </md-item-content>
      <md-divider ng-if="!$last"></md-divider>
      </md-item>
    </md-list>
</div>
</md-content>
<!-- push a new message into the array -->
<md-toolbar class="theme-dark-tff md-medium-tall md-toolbar-tools dark" style="margin-top: auto;">
  <!--form ng-submit="" class="md-toolbar-tools"-->
  <!--<a href="javascript:;" lk-google-picker picker-files="files">GDrive</a>
  {{files}}-->
  <div flex="90">
    <p><md-text-float label="digite sua mensagem"  ng-model="newMessageText" class="long" ng-enter="addMessage(newMessageText)"></md-text-float></p>
  </div>
  <div flex="10" layout="horizontal" layout-align="center">
    <md-button ng-click="addMessage(newMessageText)">Enviar ></md-button>
  </div>
  <!--/form-->
</md-toolbar>
