  <md-toolbar class="md-theme-dark md-toolbar-tools">
  <div flex="20">
      <h2>
        <span>SOA Chat</span>
      </h2>
      </div>
      <div flex layout="horizontal" layout-align="end">
        <div ng-show="auth">
        <p>
        <img ng-src="{{auth.thirdPartyUserData.picture}}" class="face" alt="{{auth.displayName}}">Olá, {{auth.thirdPartyUserData.given_name}}
        <md-button class="md-theme-yellow" ng-click="clickLogout()">Sair</md-button></p>
      </div>
      </div>
    </md-toolbar>
<md-content>  
<div>
    <md-list>
      <md-item ng-repeat="message in messages">
      
      <md-item-content ng-show="message.userFrom.id ==auth.id">
      <div class="md-tile-left">
              <img ng-src="{{message.userFrom.thirdPartyUserData.picture}}" class="face" alt="{{message.userFrom.displayName}}">
          </div>
          <div class="md-tile-content">
            <h3>{{message.userFrom.displayName}} <md-button ng-click="messages.$remove(message)">X</md-button></h3>
            <p>
              {{message.text}}
            </p>
          </div>
        
      </md-item-content>

      <md-item-content ng-show="message.userTo.id ==auth.id">
          <div class="md-tile-left">
              <img ng-src="{{message.userTo.thirdPartyUserData.picture}}" class="face" alt="{{message.userTo.displayName}}">
          </div>
          <div class="md-tile-content">
            <h3>{{message.userTo.displayName}} <md-button ng-click="messages.$remove(message)">X</md-button></h3>
            <p>
              {{message.text}}
            </p>
          </div>
      </md-item-content>

      <md-item-content ng-show="message.userFrom.id == paramId">
      <div class="md-tile-left">
              <img ng-src="{{message.userFrom.thirdPartyUserData.picture}}" class="face" alt="{{message.userFrom.displayName}}">
          </div>
          <div class="md-tile-content">
            <h3>{{message.userFrom.displayName}} <md-button ng-click="messages.$remove(message)">X</md-button></h3>
            <p>
              {{message.text}}
            </p>
          </div>
        
      </md-item-content>

      <md-item-content ng-show="message.userTo.id ==paramId">
          <div class="md-tile-left">
              <img ng-src="{{message.userTo.thirdPartyUserData.picture}}" class="face" alt="{{message.userTo.displayName}}">
          </div>
          <div class="md-tile-content">
            <h3>{{message.userTo.displayName}} <md-button ng-click="messages.$remove(message)">X</md-button></h3>
            <p>
              {{message.text}}
            </p>
          </div>
      </md-item-content>
      <md-divider ng-if="!$last"></md-divider>
      </md-item>
      </md-list>
</div>
</md-content>
<!-- push a new message into the array -->
<md-toolbar class="theme-dark-tff md-medium-tall" style="margin-top: auto;">
  <form ng-submit="addMessage(newMessageText)" class="md-toolbar-tools dark">
  <!--<a href="javascript:;" lk-google-picker picker-files="files">GDrive</a>
  {{files}}-->
  <div flex="95">
    <md-text-float label="digite sua mensagem"  ng-model="newMessageText" class="long"></md-text-float>
  </div>
  <div flex="5" layout-align="center center">
    <md-button class="md-button-fab md-theme-light-blue btnMargem">
          >
    </md-button>  
  </div>
  </form>
</md-toolbar>